body {
  overflow-x: hidden;
  z-index: -1;
  background-color: $blueGray-900;
}

main {
  margin-inline: auto;
  padding-top: 1rem;
  margin-top: 4rem;
  font-family: 'Roboto', sans-serif;
  min-height: 75vh;
  color: $white;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
  color: $coolGray-400;
}

.flex {
  display: flex;
}

.center {
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.no-dec {
  text-decoration: none;
  color: $coolGray-400;
}

.no-list-style {
  list-style: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-break {
  white-space: pre-line;
}

.section {
  &-title {
    position: relative;
    width: fit-content;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      left: 0%;
      transform: translateY(-50%);
      top: 50%;
      position: relative;
      background-color: $green-400;
    }
  }

  &-number {
    color: $green-400;
    margin-right: 0.75rem;
  }
}

.link {
  text-decoration: none;
  color: $green-300;
  background-image: linear-gradient(90deg, $green-400, $green-700);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 200ms ease;

  &:hover {
    background-size: 100% 2px;
  }
}

.content {
  width: 50%;
  margin-inline: auto;

  @media (max-width: 1600px) {
    width: 55%;
  }

  @media (max-width: 1356px) {
    width: 65%;
  }

  @media (max-width: 1024px) {
    width: 80%;
  }
}
