.footer {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $coolGray-800;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  &-content {
    text-align: center;

    p {
      margin: 0.25rem;
    }
  }

  &-link {
    color: $white;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
