.navigation {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  height: 4rem;
  z-index: 10;
  box-shadow: 0px 1px 5px -2px $black;
  background-color: $blueGray-900;
  font-family: 'Roboto', sans-serif;

  &-logo {
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translateY(-50%);

    &-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      transition: outline 300ms ease;
      outline-offset: 1px;

      &:hover {
        outline: 1px solid $white;
      }
    }
  }

  &-list {
    display: flex;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    color: $green-400;

    @media (max-width: 576px) {
      display: none;
    }
  }

  &-item {
    &:not(:first-of-type) {
      margin-left: 2rem;
    }

    @media (max-width: 767px) {
      font-size: 0.9rem;
    }
  }

  &-link {
    color: $white;
    text-decoration: none;
    transition: opacity 300ms ease;

    &:hover {
      color: $green-400;
    }
  }

  &-contact-btn {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background: $green-400;
    border: 2px solid $green-400;
    border-radius: 5px;
    color: $white;

    &:hover {
      background-color: transparent;
      color: $green-400;
    }
  }
}

.hamburger {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.hamburger-navigation-item {
  margin-top: 2rem;

  @media (max-height: 900px) {
    margin-top: 1.5rem;
  }

  @media (max-height: 750px) {
    margin-top: 1.25rem;
  }

  @media (max-height: 650px) {
    margin-top: 1rem;
  }
}

.hamburger-navigation-list {
  z-index: 2;
  display: flex;
  position: fixed;
  background-color: $white;
  width: 24%;
  height: 100vh;
  top: 4rem;
  right: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  transform: translateX(100%);
  transition: all 500ms ease-in-out;

  &.active {
    transform: translateX(0);
  }

  @media (max-width: 1356px) {
    width: 35%;
  }

  @media (max-width: 1024px) {
    width: 45%;
  }

  @media (max-width: 767px) {
    width: 60%;
  }

  @media (max-width: 574px) {
    width: 100%;
  }
}

.hamburger-navigation-link {
  transition: 300ms ease-out;
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus {
    color: $green-400;
    padding-left: 0.3rem;
  }
}

.hamburger-icon {
  z-index: 1;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 576px) {
    display: block;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 300ms ease;
  background-color: $white;
}

.hamburger-icon.active {
  .bar:nth-child(2) {
    opacity: 0;
  }

  .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
