@use '../../../styles/abstracts' as *;

.title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -4rem;
}

.first-paragraph {
  font-family: 'Merriweather', sans-serif;
  color: $green-400;
  margin-bottom: 0;
}

.name {
  font-size: 5rem;

  @media (max-width: 767px) {
    font-size: 3rem;
  }

  @media (max-width: 367px) {
    font-size: 2rem;
  }
}

.content {
  font-size: 1.2rem;

  @media (max-width: 767px) {
    font-size: 1rem;
  }
}

.links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.link {
  font-size: 2rem;
  transition: all 300ms ease;
  text-decoration: none;
  color: $coolGray-400;

  &:hover {
    color: $white;
  }
}

.button {
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: $green-400;
  border: 1px solid $green-400;
  transition: all 500ms ease;

  &:hover {
    color: $blueGray-900;
    background-color: $green-400;
  }
}
