.contact-page {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  margin-bottom: 5rem;
}

.title {
  font-family: 'Merriweather', sans-serif;
  font-size: 2rem;
  margin-block: 1rem;
  text-align: center;
}

.content {
  max-width: 75ch;
  margin-inline: auto;
  text-align: center;
}
