@use '../../../styles/abstracts' as *;

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  height: 4rem;
  z-index: 10;
  box-shadow: 0px 1px 5px -2px $black;
  background-color: $blueGray-900;
  font-family: 'Roboto', sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  @include absPosition($top: 50%, $left: 2.5%);
  transform: translateY(-50%);

  &-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: outline 300ms ease;
    outline-offset: 1px;

    &:hover {
      outline: 1px solid $white;
    }
  }
}

.list {
  display: flex;
  gap: 1rem;
  @include absPosition($top: 50%, $right: 2.5%);
  transform: translateY(-50%);
  list-style: none;

  li:last-of-type {
    list-style: none;
  }
}

.number {
  color: $green-400;
  margin-right: 0.25rem;
}

.item {
  color: $white;
  text-decoration: none;
  transition: all 150ms ease;

  &:hover {
    color: $green-400;
  }

  @media (max-width: 767px) {
    font-size: 0.9rem;
  }
}

.button {
  padding: 0.5rem 1rem;
  background: $green-400;
  border: 2px solid $green-400;
  border-radius: 5px;
  color: $white;
  text-decoration: none;
  transition: all 150ms ease;

  &:hover {
    background-color: transparent;
    color: $green-400;
  }
}
