.contact-page {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  margin-bottom: 5rem;

  &-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &-content {
    max-width: 75ch;
    margin-inline: auto;
    text-align: center;
  }

  &-text {
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 3rem 5rem;
  box-shadow: 0 30px 60px 30px $coolGray-1000;
  border-radius: 15px;
  align-items: center;
  background: $white;
  @include animation(translateXBounce2 1s ease-in-out);

  &-container {
    max-width: 30rem;
    margin-inline: auto;
  }

  @media (max-width: 574px) {
    padding: 3rem;
  }
}

.button {
  padding: 0;
  background: $green-400;
  color: $white;
  border: none;
  cursor: pointer;
  height: 2rem;
  box-shadow: 3px 10px 20px 0px $gray-300;
  transition: background-color 300ms ease;

  &:hover,
  &:focus {
    background-color: $gray-600;
  }
}

.input {
  width: 100%;

  label {
    color: $black;
    display: block;
  }
}

input,
textarea {
  -webkit-appearance: none;
}

input,
textarea,
label {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  width: 100%;
  font-size: 0.9rem;
}

label {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

input {
  height: 2rem;
  border: 1px solid $gray-200;
  background: $white;
  border-radius: 3px;
  padding-left: 1rem;

  &:focus {
    outline: none;
  }
}

textarea {
  height: 8rem;
  border: none;
  border: 1px solid $gray-200;
  background: $white;
  border-radius: 3px;
  resize: none;
  padding: 0.5rem 1rem;
  font-family: 'Roboto', sans-serif;

  &:focus {
    outline: none;
  }
}
