@use '../../../styles/abstracts' as *;

.projects {
  min-height: 60vh;
  position: relative;
  margin-bottom: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project {
  position: relative;

  &-title {
    color: $coolGray-400;
    text-decoration: none;
  }

  &-link {
    margin-left: 0.75rem;
    transition: color 300ms ease;

    &:hover {
      color: $green-400;
    }
  }

  &-description {
    position: relative;
    margin: 1rem 0;
    padding: 1rem;
    background: $blueGray-700;
    border-radius: 5px;
    max-width: 60ch;

    p {
      margin: 0;
    }
  }

  &-tools {
    display: flex;
    gap: 1rem;
    font-family: 'PT Mono', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: $coolGray-400;
    flex-wrap: wrap;
    list-style: none;
    max-width: 75ch;
  }
}
