@use '../../../styles/abstracts' as *;

.get-in-touch {
  min-height: 40vh;
  margin-bottom: 5rem;
}

.title {
  margin-bottom: 0.5rem;
  font-family: 'Merriweather', sans-serif;
}

.content {
  max-width: 60ch;
  margin-bottom: 2rem;
}
